@{
}
@model Anuj_Core.Models.Employee


<h1>AddEmp</h1>
<form role="form" asp-controller="Home" asp-action="Registration" method="post">
    <div class="form-group col-lg-5">
        <label>Name</label>
        <input placeholder="Enter Name" class="form-control" asp-for="Name" type="text" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-5">
        <label>Email</label>
        <input placeholder="Enter email" class="form-control" asp-for="Email" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    

    <div class="form-group col-lg-5">
        <label>City</label>
        <input placeholder="Enter city" class="form-control" asp-for="City" type="text" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    

    <input class="btn btn-success" value="submit" type="submit" />
</form>
<script src="/lib/jquery/dist/jquery.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
